/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR:#fff;
ACCENT COLOR:#00AC6B;
 */

:root {
  --primary-color: #ffffff;
  --secondary-color: #15357a;
  --background-color-blue: #ebf5fe;

  --btn-color: #2c71f0;
  --light-blue: #2f5edd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden !important;
}

body {
  font-family: "Inter", sans-serif;
  color: #06122c;
  font-weight: 400;

  overflow-x: hidden !important;
}

/* UTILITIES */
.center-children {
  padding-left: 4vw !important;
  padding-right: 4vw !important;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  gap: 6rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.grid-5-cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

/* COMPONENTS */

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--btn-color);
  padding: 1rem 2rem;
  border-radius: 3rem;
  transition: background-color 0.3s;
  position: relative;

  list-style: none;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-animated::after {
  content: "";
  display: inline-block;
  border-radius: 100px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  transition: all 0.4s;
}

.btn-animated::after {
  background-color: var(--btn-color);
  color: #fff;
}

.btn-animated:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveinBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.arrow-right.nb {
  display: flex;
  border: none;
  height: 1.3rem;
  width: 2rem;
  justify-content: center;
}

/* TYPOGRAPHY */
.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

/* .heading-primary:span {
  color: var(#777);
} */

.heading-secondary {
  font-size: 4rem;
  font-weight: 550;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.heading-secondary.bg {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  font-weight: 550;
}

.heading-secondary.sm {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 550;
  color: var(--secondary-color);
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;

  color: var(--secondary-color);
}

.heading-tertiary.sm {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.2;
  margin: 1rem;
}

.heading-small {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.2;
  margin: 1rem;
}

.paragraph {
  font-size: 1.6rem;
  color: #06122c;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.paragraph .sm {
  font-size: 1.4rem;
  line-height: 1.3;
}

.paragraph-pb {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.hero-paragraph {
  font-size: 1.8rem;
  color: var(--primary-color);
  line-height: 1.3;

  margin-bottom: 4rem;
}

header.header {
  height: 100vh;
  background-color: #00ac6b;
}

nav.navigation {
  height: 9.6rem;
  padding: 1.9rem 2.5rem;
  font-size: 1.4rem;
}

.navigation .logo {
  font-size: 1.8rem;
}

.navigation .nav_button {
  display: none;
}

.navigation #checkbox {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-nav-container a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-nav-list h1 {
  font-size: 2rem;
}

ul.main-nav-list,
.main-nav-list li,
.main-nav-list a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  align-items: center;
}

.main-nav-list li {
  display: flex;
  gap: 5px;
}

.display--flex {
  display: none;
}

.main-nav-list svg {
  height: 1rem;
  width: 1rem;
}

.nav_actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav_actions a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.btn--border:link,
.btn--border:visited {
  border: 1px solid #fff;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

/* HERO-HEADER */

.header-hero {
  padding-bottom: 9rem;
}

.header-hero .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  align-items: center;
}

.header-hero .hero-img {
  /* height: 50rem; */
  width: 100%;
  object-fit: cover;
}

.header-hero .hero-img img {
  height: 100%;
  width: 100%;
}

.header-hero .hero-info {
  margin-top: 2rem;
}

.header-hero .paragraph-rating {
  font-size: 1.8rem;
  color: var(--primary-color);
  line-height: 1.3;
  text-align: center;
  margin-bottom: 3rem;
}

.header-hero .paragraph-rating span {
  font-weight: bold;
}

.header-hero marquee.featured-in-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4rem;
}

.header-hero marquee.featured-in-logos img {
  height: 2.8rem;
  margin-right: 3rem;
}

/* SECTION ABOUT */

section.section-about {
  margin-top: 6rem;
  padding-bottom: 9rem;
}

section.section-about .about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

section.section-about .about-img {
  /* height: 50rem; */
  width: 100%;
  object-fit: cover;
}

section.section-about .about-img img {
  height: 100%;
  width: 100%;
}

section.section-about .about-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 3rem;
}

section.section-about .about-wrapper .about-icon {
  height: 5rem;
  width: 5rem;
  margin-bottom: 2rem;
}
section.section-about .about-wrapper .about-icon img {
  height: 100%;
  width: 100%;
}

/* SECTION DESCRIPTION */

section.section-description {
  margin-top: 6rem;
  padding-bottom: 9rem;
  background-color: #fff4e0;
}

section.section-description .description {
  text-align: center;

  align-items: center;
  padding-top: 5rem;
}

section.section-description .description .description-box {
  margin-bottom: 7rem;
}

section.section-description .description .btn {
  position: absolute;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

section.section-description .description .btn img {
  height: 3rem;
  display: inline-block;
}

section.section-description .description .heading-secondary {
  width: 70%;
  margin: 0 auto;
}
section.section-description .description .paragraph {
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
section.section-description .description-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.section-description .description-img {
  height: 35rem;
  width: 50%;
  margin-top: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.section-description .description-img img {
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
}

section.section-description .achievement-boxs {
  margin-bottom: 6rem;
}

/* SECTION TOOLS */

section.section-tools {
  margin-top: 6rem;
  padding-bottom: 9rem;
}

section.section-tools .tools .heading-secondary {
  width: 30%;
  line-height: 1.4;
}

section.section-tools .tools .paragraph {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

section.section-tools .tools .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.section-tools .tools .wrapper .arrows {
  display: flex;
  align-items: center;
  gap: 2rem;
}

section.section-tools .tools .wrapper .arrows .arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--light-blue);
  border-radius: 50%;
}
section.section-tools .tools .wrapper .arrows .arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--light-blue);
  border-radius: 50%;
}

section.section-tools .tool-boxs {
  display: flex;
  gap: 2rem;
}

section.section-tools .tool-boxs .box {
  position: relative;
  align-items: center;
  padding: 2.4rem;
  height: 35rem;
  width: 100%;
  transition: transform 0.3s;
}
section.section-tools .tool-boxs .box:hover {
  transform: translateY(-1.5rem) scale(1.05);
}

section.section-tools .tool-boxs .box figure.box-img img {
  width: 20rem;
}

section.section-tools .tool-boxs .box.green {
  background-color: #00ac6b;
}

section.section-tools .tool-boxs .box.sky-blue {
  background-color: #519af4;
}

section.section-tools .tool-boxs .box.blue {
  background-color: #1c4396;
}

section.section-tools .tool-boxs .box.orange {
  background-color: #f78400;
}

section.section-tools .tool-boxs .box .box-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.section-tools .tool-boxs .text {
  width: 80%;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2rem;
}

section.section-tools .tool-boxs .box-btn {
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

section.section-tools .tool-boxs .box-btn span {
  color: #fff;
  font-size: 1.6rem;
}

section.section-tools .tool-btn {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
}
section.section-tools .tool-btn span {
  color: #2f5edd;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid #2f5edd;
}

/* SECTION ANALYSIS */

section.section-analysis {
  margin-top: 4rem;
  padding-top: 6rem;
  padding-bottom: 9rem;
  background-color: var(--background-color-blue);
}

section.section-analysis .analysis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;

  align-items: center;
}

section.section-analysis .analysis-img {
  /* height: 50rem; */
  width: 100%;
  object-fit: cover;
}

section.section-analysis .analysis-img img {
  height: 100%;
  width: 100%;
}

section.section-analysis .analysis-list {
  display: flex;
  gap: 0.5rem;
}

.section-analysis .btn {
  margin-top: 2rem;
}

/* SECTION EXPLORE */

section.section-explore {
  margin-top: 6rem;
  padding-bottom: 9rem;
}
section.section-explore .explore {
  text-align: center;
}

.explore .explore-textbox {
  text-align: center;
}

.explore .explore-textbox {
  text-align: center;
}

.explore .explore-textbox .heading-secondary {
  width: 45%;
  line-height: 1.4;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.explore .explore-textbox .paragraph {
  width: 50%;
  line-height: 1.4;
  margin: 0 auto;
}

figure.explore-images {
  display: flex;
  gap: 2rem;
  margin: 7rem 0;
  width: 100%;
  height: 40rem;
}

.explore-images img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.explore-images img:hover {
  transform: translateY(-1.5rem) scale(1.05);
}

section.section-explore .explore .explore-btn {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
}
section.section-explore .explore .explore-btn span {
  color: #2f5edd;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid #2f5edd;
}

/* SECTION BUSINESS */

section.section-business {
  margin: 6rem 0 4rem 0;
  padding-bottom: 6rem;

  background-color: var(--background-color-blue);
}

.section-business li,
a {
  list-style: none;
  text-decoration: none;
}

.section-business .heading-secondary {
  width: 60%;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
}

.section-business ul.business-btns {
  display: flex;
  gap: 5rem;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 3rem;
  padding: 1rem 0;
  color: #313cbd;
  background-color: var(--primary-color);
}

.section-business .business-btn {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  border-radius: 3rem;
  padding: 1.5rem 1rem;
  background-color: #ebf5fe;
}

.section-business .business-btn-blue {
  color: var(--primary-color);
  background-color: #313cbd;
  border-radius: 3rem;
  padding: 1.5rem 1rem;
}

.section-business .business-wrapper {
  margin-top: 4rem;
}

.section-business .business-wrapper .business-textbox .business-text {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}
.section-business .business-wrapper .business-textbox .paragraph {
  margin-bottom: 2rem;
}

.section-business .business-wrapper .business-textbox .text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #06122c;
  margin-bottom: 5rem;
}

.section-business .business-wrapper .business-textbox .btn-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.section-business
  .business-wrapper
  .business-textbox
  .btn-container
  .btn-blue
  a {
  font-size: 1.4rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--btn-color);
}

.section-business figure.explore-image {
  width: 100%;
  height: 40rem;
}
.section-business figure.explore-image img {
  width: 100%;
  height: 100%;
}

/* SECTION RATING */

section.section-rating {
  margin-top: 9rem;
  padding-bottom: 9rem;
}

section.section-rating .rating .rating-textbox {
  text-align: center;
}

section.section-rating .rating .rating-textbox p {
  margin: 0 auto;
}

section.section-rating .rating .rating-textbox .paragraph {
  margin-bottom: 3rem;
  width: 60%;
}

section.section-rating .rating .rating-textbox .rating-btn a {
  display: inline-block;
  color: #2f5edd;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid #2f5edd;
  text-transform: capitalize;
}

.ratings {
  gap: 6rem;
  display: grid;
  margin-top: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.ratings .rating_box {
  text-align: center;
}

.ratings .rating_box .rate-heading {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}
.ratings .rating_box .paragraph {
  font-weight: 400;
}

.ratings .rating_box .paragraph {
  width: 100%;
}

.rating_info {
  margin-top: 4rem;
}

.rating_info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 5rem;
  margin-top: 4rem;
  border-radius: 3rem;
  background-color: var(--background-color-blue);
}

.rating_info--textbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex: 1.6;
}

.rating_info--textbox-wrapper figure.rating_info-image {
  height: 25rem;
  width: 30rem;
}
.rating_info--textbox-wrapper figure.rating_info-image img {
  height: 100%;
  width: 100%;
}

.rating_info--textbox-wrapper .paragraph {
  width: 100%;
  margin: 0 auto;
}

.rating_info-container .rating_info-btn {
  flex: 0.6;
  flex-shrink: 0;
}
.rating_info-container .rating_info-btn a {
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--btn-color);
  font-size: 1.6rem;
  border-radius: 3rem;
  padding: 1.5rem 1rem;
}

/* SECTION JOIN */

.section_join {
  background-color: #519af4;
  padding: 10rem 3rem;
}

.section_join .join-textbox {
  text-align: center;
}

.section_join .join-textbox .heading-secondary {
  color: var(--primary-color);
}

.section_join .join-textbox .paragraph {
  color: var(--primary-color);
}

.section_join .join_btn-container {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.section_join .join_btn-container .btn-box a {
  color: var(--primary-color);
  font-size: 1.6rem;
}

.section_join .join_btn-container .btn-box.border a {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
}

.section_join .join_btn-container .btn-box.arrow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* FOOTER */

footer.footer {
  background-color: var(--secondary-color);
  padding: 4rem 15rem;
}

footer.footer .footer-container {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  margin-bottom: 6rem;
}

.footer-textbox .heading-secondary {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

footer.footer .footer-container .footer-list ul {
  list-style: none;
  font-size: 1.4rem;
  line-height: 3rem;
  height: 30rem;
}
footer.footer .footer-container .footer-list .list-heading {
  font-size: 2rem;
  margin-bottom: 3.5rem;
  font-weight: 400;
}

footer.footer .footer-container .footer-list .language {
  margin-top: 10rem;
}

.footer-textbox .footer-logos {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.foot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b1e7eb;
  border-top: 1px solid #b1e7eb;
}

.foot-container .paragraph.light-blue {
  color: #b1e7eb;
  margin-bottom: 0;
}

ul.foot-list {
  list-style: none;
  font-size: 1.6rem;
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: 4rem 0 4rem 0;
}

@media only screen and (max-width: 1200px) {
  section.section-tools .tools .heading-secondary {
    width: 40%;
    line-height: 1.4;
  }

  section.section-tools .tools .paragraph {
    width: 50%;
    margin-top: 0;
    margin-bottom: 7rem;
  }

  section.section-tools .tool-boxs .text {
    width: 100%;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1155px) {
  section.section-tools .tool-boxs {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1105px) {
  section.section-tools .grid-4-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  /* SECTION RATING */

  .rating_info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 5rem;
    margin-top: 4rem;
    border-radius: 3rem;
    background-color: var(--background-color-blue);
  }
}

@media only screen and (max-width: 1050px) {
  .heading-primary {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
    color: var(--primary-color);
  }

  .heading-secondary.bg {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 550;
  }

  .paragraph {
    font-size: 1.5rem;
    color: #06122c;
    line-height: 1.4;
    margin-bottom: 4rem;
  }

  .paragraph-pb {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .hero-paragraph {
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.3;
    margin-bottom: 3.8rem;
  }

  .header-hero .paragraph-rating {
    font-size: 1.8rem;
    color: var(--primary-color);
    line-height: 1.3;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 8rem;
  }

  .header-hero marquee.featured-in-logos img {
    height: 2.5rem;
  }

  section.section-about .about-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem !important;
    gap: 3rem;
  }

  .explore-images {
    overflow: scroll;

    display: flex;
    gap: 2rem;

    margin: 7rem 4;
    width: 100%;

    height: 40rem;
  }

  .explore-images img {
    width: 100%;

    height: 100%;
  }

  /* FOOTER */

  footer.footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary-color);
    margin-bottom: 6rem;
    gap: 4rem;
  }

  footer.footer .footer-container .footer-list .language {
    margin-top: 5rem 0 4rem 0;

}

  footer.footer .footer-container .footer-list ul {
    list-style: none;
    font-size: 1.4rem;
    line-height: 3rem;
    height: 25rem;
  }

  ooter.footer .footer-container .footer-list .language {
    margin-top: 5rem;

  .foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #b1e7eb;
    border-top: 1px solid #b1e7eb;
    padding-top: 3rem;
    margin-top: 12rem;
}
}

@media only screen and (max-width: 950px) {
  .heading-secondary.sm {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 550;
    color: #15357a;
  }
}

@media only screen and (max-width: 900px) {
  /* TYPOGRAPHY */

  .heading-secondary {
    font-size: 3rem;
    font-weight: 550;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--secondary-color);
  }
  /*  COMPONENTS */

  .btn:link,
  .btn:visited {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1rem 2rem;
    border-radius: 3rem;
    transition: background-color 0.3s;
    position: relative;
  }

  /* NAVIGATION */
  .display--none {
    display: none;
  }

  .display--flex {
    display: flex;
  }

  .navigation .logo {
    font-size: 1.8rem;
  }

  .navigation .main-nav-list {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 172, 107, 0.7);
    backdrop-filter: blur(1.5px);
    height: 100vh;
    flex-direction: column;
    width: min(100vw, 30rem);
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    gap: 3rem;
  }

  .navigation .nav_button {
    display: flex;
    position: relative;
    z-index: 101;
    font-size: 3rem;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
  }

  .nav_actions .nav_button span.close {
    display: none;
  }
  .nav_actions .nav_button span.open {
    display: flex;
  }

  .navigation #checkbox:checked ~ .main-nav-container .main-nav-list {
    transform: translateX(0);
  }
  .navigation #checkbox:checked ~ .nav_actions .nav_button span.close {
    display: flex;
  }
  .navigation #checkbox:checked ~ .nav_actions .nav_button span.open {
    display: none;
  }

  /* SECTION ABOUT */

  section.section-about .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }

  /* SECTION DESCRIPTION */

  section.section-description .description .heading-secondary {
    width: 75%;
    margin: 0 auto;
  }

  section.section-description .description-img {
    height: 22rem;
    width: 50%;
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* SECTION EXPLORE */

  .explore .explore-textbox .heading-secondary {
    width: 80%;
  }

  /* SECTION BUSINESS */

  .grid-2-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }

  /* SECTION RATING */

  .rating_info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 5rem;
    margin-top: 4rem;
    border-radius: 3rem;
    background-color: var(--background-color-blue);
  }
}

@media only screen and (max-width: 850px) {
  section.section-analysis .analysis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
  }

  .section-business ul.business-btns {
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 3rem;
    padding: 1rem 0;
    color: #313cbd;
    background-color: var(--primary-color);
  }

  /* SECTION RATING */

  .ratings {
    gap: 4rem;
    display: grid;
    margin-top: 7rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .ratings .rating_box .rate-heading {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--secondary-color);
  }
}

@media only screen and (max-width: 800px) {
  /* UTILITIES */

  .grid-4-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    row-gap: 4rem;
    align-items: center;
  }

  /* TYPOGRAPHY */
  .heading-secondary.bg {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 550;
  }

  .paragraph {
    font-size: 1.4rem;

    color: #06122c;
    line-height: 1.4;
    margin-bottom: 4rem;
  }

  .paragraph-pb {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  section.section-analysis .analysis {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;

    align-items: center;
  }

  section.section-analysis .analysis-img {
    height: 50rem;
    width: 100%;
    object-fit: contain;
  }

  section.section-analysis .analysis-img img {
    height: 100%;
    width: 100%;
  }
  section.section-analysis .analysis-textbox {
    text-align: center;
    justify-content: center;
  }

  section.section-analysis .analysis-textbox.mb {
    margin-bottom: 10rem;
  }

  section.section-analysis .analysis-textbox .heading-secondary.sm {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  /* SECTION BUSINESS */

  .section-business .heading-secondary {
    width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  /* COMPONENTS */
  .btn:link,
  .btn:visited {
    display: inline-block;
    font-size: px;
  }

  /* UTILITIES */

  .grid-2-cols {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
  }

  /* TYPOGRAPHY */
  .heading-primary {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
    color: var(--primary-color);
  }

  .heading-secondary.sm {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-weight: 550;
  }

  .hero-paragraph {
    font-size: 1.4rem;
    color: var(--primary-color);
    line-height: 1.3;
    margin-bottom: 2.4rem;
  }

  .hero-textbox .btn:link,
  .hero-textbox .btn:visited {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    transition: background-color 0.3s;
  }

  .header-hero .paragraph-rating {
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.3;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 8rem;
  }

  .header-hero marquee.featured-in-logos img {
    height: 2.5rem;
  }

  /* DESCRIPTION */

  section.section-description .description-img {
    width: 40rem;
    margin-top: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .explore .explore-textbox .heading-secondary {
    width: 90%;
    line-height: 1.4;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .explore .explore-textbox .paragraph {
    width: 80%;
    line-height: 1.4;
    margin: 0 auto;
  }

  /*  SECTION-BUSINESS */

  .section-business .business-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .section-business ul.business-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 3rem;
    padding: 2rem 2rem;
    color: #313cbd;
    background-color: var(--primary-color);
  }

  /* FOOTER */

  .foot-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #b1e7eb;
    border-top: 1px solid #b1e7eb;
    padding-top: 3rem;
    margin-top: 12rem;
  }

  ooter.footer .footer-container .footer-list .language {
    margin-top: 5rem;


  ul.foot-list {
  display: flex;
  gap: 2rem;
  padding: 3rem 0 3rem 0;
  font-size: 1.6rem;
  list-style: none;
  align-items: center;
  align-items: baseline;
  flex-direction: column;
  }


}


@media only screen and (max-width: 700px) {
  .rating_info--textbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  /* COMPONENTS */
  .btn:link,
  .btn:visited {
    .btn:link,
    .btn:visited {
      display: inline-block;
      font-size: 9px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      color: var(--primary-color);
      background-color: var(--btn-color);
      padding: 1rem 0.5rem;
      border-radius: 3rem;
      transition: background-color 0.3s;
      position: relative;
    }
  }
  /* TYPOGRAPHY */
  .heading-primary {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }

  .sm {
    font-size: 1.4rem;
    color: #06122c;
    line-height: 1.4;
    margin-bottom: 4rem;
    width: 65%;
  }

  .heading-small {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 1rem;
  }

  header.header {
    height: 100vh;
    background-color: #00ac6b;
  }

  nav.navigation {
    height: 8.4rem;
    padding: 1.9rem 2.5rem;
    font-size: 1.4rem;
  }

  .header-hero {
    padding-bottom: 9rem;
    align-items: center;
    text-align: center;
  }

  .header-hero .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-paragraph {
    font-size: 1.4rem;
    color: var(--primary-color);
    line-height: 1.3;
  }

  .header-hero .hero-img {
    width: 100%;
    object-fit: cover;
  }

  .header-hero .hero-img img {
    height: 25rem;

    width: 100%;
  }

  .header-hero .paragraph-rating {
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.3;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .header-hero marquee.featured-in-logos img {
    height: 2rem;
  }

  /* SECTION ABOUT */

  section.section-about .about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  section.section-about .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem !important;
    gap: 3rem;
  }

  /* SECTION DESCRIPTION */

  section.section-description .description .heading-secondary {
    width: 100%;
    margin: 0 auto;
  }

  section.section-descriptipn .box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  section.section-tools .tools .heading-secondary {
    width: 60%;
    line-height: 1.4;
  }

  section.section-tools .tool-boxs .box {
    position: relative;
    align-items: center;
    height: 25rem;
    width: 100%;
    padding: 2.4rem;
  }

  /* SECTION-ANALYSIS */

  section.section-analysis .paragraph-pb {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }

  section.section-analysis .analysis-img {
    height: 40rem;
  }

  section.section-analysis .analysis-img img {
    height: 100%;
    width: 100%;
  }

  section.section-explore .explore .explore-btn span {
    color: #2f5edd;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 1px solid #2f5edd;
  }

  /* SECTION RATING */

  .ratings {
    gap: 2.5rem;
    display: grid;
    margin-top: 6rem;
    grid-template-columns: repeat(3, 1fr);
  }

  section.section-rating .rating .rating-textbox {
    align-items: center;
  }
  section.section-rating .rating .rating-textbox .paragraph {
    margin-bottom: 3rem;
    width: 100%;
  }

  section.section-rating .rating .rating-textbox .rating-btn a {
    display: inline-block;
    color: #2f5edd;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: 1px solid #2f5edd;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 600px) {
  section.section-tools .tools .tool-textbox {
    text-align: center;
  }

  section.section-tools .tools .heading-secondary {
    width: 100%;
    line-height: 1.4;
  }
  section.section-tools .tools .paragraph {
    width: 100%;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  section.section-tools .tools .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section.section-tools .tools .wrapper .arrows {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  section.section-tools .tool-boxs .text {
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  section.section-tools .tool-boxs .box figure.box-img img {
    width: 17rem;
  }

  /* SECTION RATING */
  .ratings {
    gap: 2rem;
    display: grid;
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .rating_info--textbox-wrapper figure.rating_info-image {
    height: 20rem;
    width: 20rem;
  }
  .rating_info--textbox-wrapper figure.rating_info-image img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  section.section-tools .tool-boxs .box figure.box-img img {
    width: 12rem;
  }

  /* SECTION RATING */
  .rating_info--textbox-wrapper .paragraph {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 450px) {
  /* TYPOGRAPHY */
  .heading-primary {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    animation-name: moveinright;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  .heading-secondary.bg {
    animation-name: moveinright;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .heading-tertiary {
    animation-name: moveinright;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .heading-tertiary.sm {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 1rem;
  }

  .hero-paragraph {
    display: block;
    font-size: 1.3rem;
    color: var(--primary-color);
    line-height: 1.3;
    animation-name: moveinleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .paragraph {
    font-size: 1.4rem;
    animation-name: moveinleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .sm {
    font-size: 1.6rem;
    color: #06122c;
    line-height: 1.3;
    width: 80%;
  }

  .header-hero .paragraph-rating {
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.3;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.9rem;
    animation-name: moveinleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  /* SECTION ABOUT */

  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* SECTION DESCRIPTION */

  section.section-description .description .paragraph {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  /* SECTION DESCRIPTION */

  section.section-description .achievement-boxs {
    margin-bottom: 6rem;
    align-items: center;
    justify-content: center;
  }

  /* SECTION-ANALYSIS */

  section.section-analysis .analysis-img {
    height: 40rem;
    width: 100%;
    object-fit: contain;
  }

  .analysis-list img {
    height: 2rem;
  }

  /* SECTION RATING */

  .ratings {
    gap: 3rem;
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(1, 1fr);
  }

  /* FOOTER */

  ul.foot-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.6rem;
    align-items: baseline;
    gap: 2rem;
    padding: 4rem 0 4rem 0;
}
}

@media only screen and (max-width: 430px) {
  section.section-analysis .analysis-textbox.mb {
    margin-bottom: 5rem;
  }

  .heading-secondary.sm {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  /* SECTION BUSINESS */

  .section-business ul.business-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 3rem;
    padding: 2rem 2rem;
    margin-bottom: 10rem;
    width: 100%;
    text-align: center;
    color: #313cbd;
    background-color: var(--primary-color);
  }

  .section-business .business-btn {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    border-radius: 3rem;
    padding: 1.5rem 1rem;
    width: 100%;
    text-align: center;
    background-color: #ebf5fe;
  }

  .section_join .join_btn-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .btn-box.arrow {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 380px) {
  /* COMPONENTS */
  .btn:link,
  .btn:visited {
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    transition: background-color 0.3s;
    position: relative;
  }

  .heading-tertiary.sm {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 1rem;
  }

  section.section-tools .tool-boxs .text {
    width: 100%;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 365px) {
  section.section-tools .tool-boxs .text {
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  section.section-tools .tool-boxs .box figure.box-img img {
    width: 10rem;
  }
}

@media only screen and (max-width: 350px) {
  section.section-tools .tool-boxs .text {
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  section.section-tools .tool-boxs .box figure.box-img img {
    width: 10rem;
  }
}
